<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870473833336-0ngof4vgb0sjd1fu5ije3f14gmjnfm4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870473833336-0ngof4vgb0sjd1fu5ije3f14gmjnfm4k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870473833336-lis6rl0b3a8atgf93v4lr7mkbmvl3vda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXKrcMT-t3jY3VFh5XgmbQlScwE-iWf2A</string>
	<key>GCM_SENDER_ID</key>
	<string>870473833336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsm.h2go</string>
	<key>PROJECT_ID</key>
	<string>h2go-424708</string>
	<key>STORAGE_BUCKET</key>
	<string>h2go-424708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870473833336:ios:6c7ba36bde3ad911d7068d</string>
</dict>
</plist>